

.bio_content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    padding: 4rem 0;
}



.bio_left{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.bio_left>h1{
    font-weight: 600;
}

.bio_left>p{
    line-height: 1.5rem;
    font-weight: 300;
}

#aboutus{
    text-align: center;
    margin-bottom: 2rem;
}

#aboutus>h2{
    padding: 3rem 0;
}

#aboutus>p{
    width: 80%;
    margin: 0 auto;
}