.contact{
    background: url('../../assets/background.jpg') no-repeat center;
    background-size: cover;
    padding: 10rem 0;
    background-color: var(--blk2);
    background-blend-mode: multiply;
}

.map{
    width: 100%;
    height: 20rem;
    border: 1px solid var(--primary);
    margin: 4rem 0;
}