.facilities_header{
    text-align: center;
}

.facilities_content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
    padding: 4rem 0;
}

.facilities_content img{
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
}

.facil_con{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



@media screen and (max-width:420px){

    .facilities_content{
        grid-template-columns:1fr;
    }
    
}